.react-calendar
{
    width: 249px;
    background-color: #F5F5F5;

    button {
        border: none;
        //background-color: #F5F5F5;
    }

    &__navigation {
        width: 100%;
        display: flex;

    }
}



.react-calendar__navigation {

    & button {
        background-color: #F5F5F5;
        font-weight: bold;

        &:hover {
            color: #7635BD;
        }
    }
    
}



.react-calendar__month-view__weekdays__weekday{
    display: flex;
    justify-content: center;

    & abbr {
        font-weight: bold;
        color: #7635BD;
    }
}




.react-calendar__month-view__days__day {
    background-color: #F5F5F5;
}

.react-calendar__tile {
    &:hover {
        background-color: #7635BD;
        font-weight: bold;
        border-radius: 10px;
    }

    &--active {
        background: #7635BD;
        font-weight: bold;
        color: white;
    }

    &--range {
        background: #ECDFFA;
        font-weight: bold;
        color: white;

        &:hover {
            color: black;
            border-radius: 0;
        }

        &Start {
            border-radius: 10px 0 0 10px;
            &:hover {
                border-radius: 10px 0 0 10px;
            }
        }

        &End {
            border-radius: 0 10px 10px 0;
            &:hover {
                border-radius: 0 10px 10px 0;
            }
        }
    }
}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
    border-radius: 10px;
}